@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:hover {
    box-sizing: border-box;
    transition: 0.25s;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    @apply text-gray-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold;
    font-family: "Montserrat", sans-serif;
}

h3 {
    @apply text-lg;
}

h2 {
    @apply text-xl;
}

h1 {
    @apply text-2xl;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}